<!doctype html>

<title>{% block title%}Oppija {{ oppija['sukunimi'] }}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h2>Hei, oppija {{ oppija['sukunimi'] }} {{ oppija['etunimi'] }}, <br> {{ ryhma['nimi'] }} </h2>
    <div class="inline-flex-parent">
    <body>
        <div class="inline">
        <p>Tänään on {{ tanaan.strftime("%d") }}.{{ tanaan.strftime("%m") }}.{{ tanaan.strftime("%Y") }}</p>
            <h2>Lukujärjestys</h2>
                {% if lukupolku %}
                    <object width="600" height="550" type = "application/pdf" data={{ lukupolku }}></object>
                {% else %}
                    <p>Ei ole voimassa olevaa lukujärjestystä.</p>
                {% endif %}
        </div>

        <div class="inline"><br>
            <br><h2>Ilmoita poissaolosta</h2>
            <form>
                <strong>Pvm:</strong><br>
                <input type="date" name="pvm" value="{{ tanaan.strftime("%d")}}.{{ tanaan.strftime("%m") }}."><br>
                <br><strong>Lisätietoa:</strong><br>
                <textarea name="poissa" rows="10" cols="50">En jäksä enää.</textarea><br>
                <input type="submit">
            </form><br>

            <!-- <br>
            
            <br><a href="mailto:{{ session['vastaava'] }}?subject=En%20pysty&body=En%20j%C3%A4ks%C3%A4%20en%C3%A4%C3%A4">Ilmoita poissaolosta kurssinvastaavalle sähköpostitse</a>

            <br> -->
            
            <h2>Verkkokurssit:</h2>

            {% if verkkokurssit %}
                <form method="post">
                <table>
                    <tr><th>nimi</th><th>aloittamatta</th><th>kesken</th><th>suoritettu</th></tr>

                    {% for kurssi in verkkokurssit %}
                        <tr><td>{{ kurssi }} </td>
                            {% for nappi in radionapit %}
                                <td><input type="radio" name="{{ kurssi }}" id="{{ verkko_osallistuminen[verkkokurssit.index(kurssi)]['vaihe'] }}" value={{ loop.index0 }} 
                                    {% if verkko_osallistuminen[verkkokurssit.index(kurssi)]['vaihe']|int == loop.index0|int %}
                                    checked="checked" 
                                    {% endif %}
                                    />
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                </table>
                <button type="submit" onClick="window.location.reload()">Päivitä</button>
                </form>

            {% else %}
            <p>Verkkokursseja ei ole.</p>
            {% endif %}

            <a href={{ lisaaurl }}>Lisää uusi verkkokurssi</a>
        </div>
    </body>
    </div>
