<!doctype html>
<title>{% block title%}Oppija {{ oppija['sukunimi'] }}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1>Hei, oppija {{ oppija['sukunimi'] }} {{ oppija['etunimi'] }}, <br> {{ ryhma['nimi'] }} <br> </h1>
<body>
    <p>Tänään on {{ tanaan.strftime("%d") }}.{{ tanaan.strftime("%m") }}.{{ tanaan.strftime("%Y") }}</p>
    <h2>Lukujärjestys</h2>
        <object width="600" height="600" type = "application/pdf" data="../../static/media/Lukujärjestys TvteatTYPO4.pdf"></object>
    <h2>Ilmoita poissaolosta</h2>
    <form>
        <strong>Pvm:</strong><br>
        <input type="date" name="pvm" value="{{ tanaan.strftime("%d")}}.{{ tanaan.strftime("%m") }}."><br>
        <br><strong>Lisätietoa:</strong><br>
        <textarea name="poissa" rows="10" cols="50">En jäksä enää.</textarea><br>
        <input type="submit">
    </form>

    <h2>Verkkokurssit:</h2>
    <form method="post">
        <table>
            <tr><th>nimi</th><th>aloittamatta</th><th>kesken</th><th>suoritettu</th></tr>
            {% for kurssi in verkkokurssit %}
            <tr><td>{{ kurssi }} </td>
                {% for nappi in radionapit %}
                <td><input type="radio" name="{{ kurssi }}" id="{{ verkko_osallistuminen[verkkokurssit.index(kurssi)]['vaihe'] }}" value={{ loop.index0 }} 
                    {% if verkko_osallistuminen[verkkokurssit.index(kurssi)]['vaihe']|int == loop.index0|int %}
                        checked="checked" 
                    {% endif %}
                    />
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
         </table>
         <button type="submit" onClick="window.location.reload()">Päivitä</button>
    </form>
    <a href="/v1/oppija/02/lisaaverkkokurssi">Lisää uusi verkkokurssi</a>
</body>
